#navbar {
    background-color: #002440;
}
#global-img {
    max-width: 50px;
}
#global-button {
    font-family: 'Viga', sans-serif;
    /* font-family: 'Kalam', cursive; */
    font-size: 40px;
}
#basic-navbar-nav {
    padding-bottom: 30px;
    font-family: 'Viga', sans-serif;
    /* font-family: 'Kalam', cursive; */
    font-size: 25px;
}
#welcome-div {
    position: absolute;
    bottom: 5px;
    right: 20px;
    font-size: 17px;
    color: white;
    background-color: transparent;
    border-color: transparent;
}
