#main-page-body {
    background-color: #f6f2e9;
    height: 1600px;
}
#global-text {
    background: #ffd160;
    text-align: center;

    padding-top: 2rem ;
    /* font-family: 'Kalam', cursive; */
    font-family: 'Viga', sans-serif;
}
#E-letter {
    font-size: 45px;
}
#img {
    padding-top: 1rem;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 50%;
    max-width: 12rem;
    
}

#search-box {
    font-family: 'Kalam', cursive;
    text-align: center;
    margin-top: 5em;
    /* margin: auto 0px; */
    /* margin-left: 50%; */
    /* transform: translateX(-50%); */
    
}
#input {
    width: 15rem;
    height: 2.3rem;
    border-radius: 5%;
    border: 2px solid black;
}
#search {
    margin-left: 3px;
    width: 5rem;
    font-size: 20px;
    border-radius: 5%
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

}

#form-search-button {
  width: 30rem;
  position: relative;
  color: #555;
  display: flex;
  padding: 2px;
  border: 1px solid currentColor;
  border-radius: 5px;
  margin: auto;
  right: 20px;
}

#input-search[type="search"] {
  width: -webkit-fill-available;
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}

#input-search[type="search"]::placeholder {
  color: #bbb;
}

#input-button[type="submit"] {
  position: absolute;
  background-color: #002440;
  right: -45px;
  top: -2px;
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 10px;
  margin: 0;
  border: 1px solid black;
  border-radius: inherit;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}

#input-button[type="submit"]:hover {
opacity: 1;
}

#input-button[type="submit"]:focus,
input[type="search"]:focus {
box-shadow: 0 0 3px 0 #1183d6;
border-color: #1183d6;
outline: none;
}

#form.nosubmit {
border: none;
padding: 0;
}

#input.nosubmit {
border: 1px solid #555;
width: 100%;
padding: 9px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}